# Dependencies
node_modules/
npm-debug.log
yarn-error.log

# Build output
dist/

# IDEs
.idea/
.vscode/
.editorconfig

# Git
.git/
.gitignore

# Docker
Dockerfile
.dockerignore

# OS files
.DS_Store
Thumbs.db
